/*
====================
	BASE
====================
*/

body, html {
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #EEEFF7;
	color: #1C1D21;
	position: relative;
}

body {
	position: absolute;
	top: 0;
}

h1, h2, h3{
	text-transform: uppercase;
}

h2{
	font-size: 14px;
}

a {
	color: #445878;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/*
====================
	LAYOUT
====================
*/

.site-header{
	background-color: #EEEFF7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 24px;
	height: 100px;
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	top: 0;
}

.site-branding{
	color: #1C1D21;
	text-transform: uppercase;
	font-size: 20px;
}

.site-navigation a:not(:last-child){
	margin-right: 24px;
}

.site-navigation a{
	letter-spacing: .6px;
	text-decoration: none;
	color: #1C1D21;
	transition: .25s;
	font-size: .9em;
}

.site-navigation a:hover{
	color: #445878;
}

.site-content{
	margin: 32px auto;
	margin-top: 100px;
	max-width: 758px;
	padding: 16px 24px;
}

.site-footer {
	background-color: #1C1D21;
	color: #EEEFF7;
	width: 100%;
	padding: 16px 24px;
	box-sizing: border-box;
}
.site-footer__content {
	margin: 0 auto;
	max-width: 758px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-footer a {
	color: #EEEFF7;
}

/*
====================
	MODULES
====================
*/

/* Button */
.btn {
	padding: 6px 24px;
	background-color: #445878;
	color: #EEEFF7;
	border: 2px solid #445878;
	cursor: pointer;
	transition: .15s;
	font-weight: bold;
	border-radius: 2px;
	max-width: 220px;
	margin: 8px;
}

.btn.big {
	padding: 18px 24px;
}

.btn:hover {
	background-color: #EEEFF7;
	color: #445878;
}

/* Field */
.field {
	font-size: inherit;
	font-family: inherit;
	display: block;
	border: #1C1D21 solid 1px;
	border-radius: 2px;
	padding: 8px;
	min-width: 300px;
	background-color: rgba(0, 0, 0, 0.02);
}

/* Summary List */
.summary-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
}

.summary-list__item {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #445878;
	width: 100%;
	transition: .15s;
}

.summary-list__item-anchor {
	text-decoration: none;
	color: inherit;
	margin: 0 auto;
	width: 90%;
	padding: 24px 0;
	flex-flow: wrap-reverse;
	display: flex;
}

.summary-list__item:hover, .summary-list__item:hover .summary-info {
	color: #EEEFF7;
}

.summary-list__item:hover {
	background-color: #445878;
}

.summary-list__item.suddle:hover {
	background-color: #272727;
}

.summary-list__item-anchor:hover {
	text-decoration: underline;
}

.summary-list__item:last-child {
	border-bottom: none;
}

.summary-list__info {
	width: 400px;
	flex-grow: 1;
}

.summary-list__image, .entry-info__image {
	object-fit: cover;
	width: 150px;
	flex-grow: 1;
}

/* Summary Header */
.summary-header__heading {
	margin-bottom: 3px;
}

.summary-header__sub-fact, .summary-info__text  {
	font-style: italic;
	margin-top: 0;
	font-size: .8em;
}

/* Summary Info */
.summary-info, .entry-info {
	color: #31353D;
}

.summary-info__price, .entry-info__price {
	font-weight: bold;
	font-size: 1.6em;
	margin: 0;
}

.summary-info__price::after, .entry-info__price::after {
	content: ",-";
}

/* Entry Info */
.entry-info {
	display: flex;
	flex-flow: wrap-reverse;
}

.entry-info__text, .entry-info__center {
	width: 400px;
	margin-right: 16px;
	flex-grow: 1;
}

.entry-info__center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.entry-info__image {
	width: 300px;
	flex-grow: 1;
}

/* Entry Header */
.entry-header {
	margin: 24px 0;;
}

.entry-header__heading {
	border-bottom: 2px solid #445878;
	padding-bottom: 16px;
}

.entry-buttons {
	margin-top: 16px;
}
